<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>星朗微博--注册</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body{
          padding-top: 80px;
        }
        #err{
          margin-top: 20px;
          display: none;
        }
    </style>  
  </head>
    
  <body>
    <% include header.ejs %>
    <div class="container">
      
      <div class="row col-lg-6" style="float:none;">
      <h2>欢迎注册</h2>
        <form>
          <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control" id="username" placeholder="请输入用户名，用户名不能和别人重复哦">
          </div>
          <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" placeholder="请输入至少6位密码">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> 我遵守星朗微博文明规定！
            </label>
          </div>
          <button type="button" id="submit" class="btn btn-default">注册</button>
        </form>
        <div class="alert alert-danger" id="err" role="alert">用户名被占用，请重新输入！</div>
      </div>
      
      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> 


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">
        $("input").focus(function () {
            $("#err").fadeOut();
        });
         $("#submit").on("click",function () {
              var username = $("#username").val();
              var password = $("#password").val();
              if($(".checkbox input").is(":checked")){

                  if(username != "" && password != ""){
                      //post调教数据
                      $.post("/doRegist",{
                          "username" : username,
                          "password" : password
                      },function (result) {
                          if(result == "-1"){
                              //用户名已存在
                              $("#err").fadeIn();
                          }
                          else if(result == "1"){
                            //注册成功
                              sessionStorage.setItem("login","1");
                              alert("恭喜注册成功，页面将自动跳转到首页");
                              window.location = '/';
                          }else{
                            //服务器错误！
                              alert("数据库查询错误"); 
                          }
                          
                      });
                  }else{
                      alert("用户名或密码不能为空！");
                  }

              }else{
                  alert("请勾选保证书！");
              }
         });
         
    </script>
  </body>
</html>
